.navy-back{
    background: linear-gradient(to bottom, rgb(71, 230, 177), rgb(231, 236, 233));
}

.head-text{
    color: #614BC3;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Sacramento', cursive;
font-size: 5rem;
}
.rest-text{
    color: #614BC3;
    font-family: 'Caveat', cursive;
    font-family: 'Sacramento', cursive;
font-size: 5rem;
font-weight: bold;
}
.head-para{
    color: #5d4da4;

    font-weight: 500;
}
.hello-back{
    background: linear-gradient(to bottom, rgb(231, 236, 233), rgb(71, 230, 177));
}

.skill-back{
    background: linear-gradient(to bottom, rgb(71, 230, 177), rgb(231, 236, 233));
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
  }

.myphoto {
    border-radius: 50%;
}
